{
  "presets": [["env", {
    "targets": {
      "browsers": ["chrome >= 60"]
    },
    "useBuiltIns": true,
    "debug": true
  }], "minify"],
  "env": {
    "production": {
      "presets": ["minify"]
    }
  }
}
